<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <!--header start-->
       <header id="info">
        <div class="header">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
            <div class="navbar">
                <div class="mainmenu"> 
                    <ul>
                        <li>
                            <a href="#">HOME</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">ABOUT</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">COURCE</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">CARRER</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">CONTACTUS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

       </header>
        <!--header end-->
    <div id="image">
        <img src="images/1174949_js_react js_logo_react_react native_icon.png" alt="">
    </div>
        <!--banner start-->
    <div id="banner">
        <div class="banner">
            <div class="image">
                <img src="images/banner2.jpg" alt="">
                <div class="title">
                    <h1>SOME TITTLE WILL COME HERE</h1>
                </div>
                
            </div>
        </div>
    </div>
        <!--banner end-->

<!-- services start-->
<div id="services">
    <h1 class="subtitle">OUR services</h1>
 <div class="info">
    <div class="info-menu">
        <img src="images/paris.jpg" alt="">
    </div>
    <div class="info-menu">
        <img src="images/paris.jpg" alt="">
    </div>
    <div class="info-menu">
        <img src="images/paris.jpg" alt="">
    </div>
    <div class="info-menu">
        <img src="images/paris.jpg" alt="">
    </div>

    <div class="info-menu">
      <img src="images/workplace.jpg" alt="">
    </div>
    <div class="info-menu">
     <img src="images/paris.jpg" alt="">
    </div>
    <div class="info-menu">
        <img src="images/paris.jpg" alt="">
    </div>
    <div class="info-menu">
     <img src="images/workplace.jpg" alt="">
    </div>
 </div>
</div>
<!--services end-->

<!-- features start-->
<div id="features">
    <div class="heading">
        <h3>our features</h3>
    </div>
    <div class="infoblock">
        <div class="sblock">
            <img src="images/1174949_js_react js_logo_react_react native_icon.png" alt="">
        </div>
        <div class="sblock">
            <div class="subhead">
                <div class="icon">
                    <i class="fa fa-apple"></i>
                </div>
                <div class="desc">
                    <h4>some tittle come here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ducimus!</p>
                </div>
            </div>
            <div class="subhead">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="desc">
                    <h4>some tittle come here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ducimus!</p>
                </div>
            </div>
            <div class="subhead">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="desc">
                    <h4>some tittle come here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ducimus!</p>
                </div>
            </div>
            <div class="subhead">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="desc">
                    <h4>some tittle come here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ducimus!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features end-->
<div class="footer">
    <h3>masthan@copy rights</h3>
</div>
<!-- footer start-->
<div id="footer"></div>
<!-- footer end-->
        

    </main>
    
</body>
</html>